body {
    font-family: "Roboto", "Releway", sans-serif;
    color: #434455;
}

/* Header */

.logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;

}

.logo-span {
    color: #4d5ae5;
}

.nav-list {
    list-style: none;
}
   

.nav-link {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts-list {
    list-style: none;
}

.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;;
}


/*Hero*/


.hero {
    background-color: #2e2f42;;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-button {
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.hero-button:hover,
.hero-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
    cursor: pointer;
}


/* FEATURES*/

.features-list {
    list-style: none;
}


.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.feature-text {
    font-weight: 400;
    font-size: 16px;    
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/*OUR TEAM*/
.team {
    background-color:#f4f4fd;;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list {
    list-style: none;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}


/*PORTFOLIO*/

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-list {
    list-style: none;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-category {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}


/*Footer*/

.footer {
    background-color:#2e2f42;
}


.footer-logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-logo_span {
    color: #4d5ae5;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}